<a href="https://colab.research.google.com/github/Thathireddy-Sravya123/Pandas_Learning/blob/main/PANDAS_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

*** Let's create our first Pandas DataFrame!!üêº***

In [ ]:
some_2d_array = np.random.randint(1,10,(4,4))
first_dataframe = pd.DataFrame(some_2d_array , columns=['tel' , 'eng' , 'maths' , 'science'] , index=['Sravya','Divya' , 'Kavya','Saniya'])

In [ ]:
first_dataframe

        tel  eng  maths  science
Sravya    3    3      8        8
Divya     2    2      5        4
Kavya     3    2      7        4
Saniya    7    7      5        3

We can write index first columns next or columns first index next.....

In [ ]:
some_2d_array = np.random.randint(1,10,(4,4))
first_dataframe = pd.DataFrame(some_2d_array , index=['Sravya','Divya' , 'Kavya','Saniya'] , columns=['tel' , 'eng' , 'maths' , 'science'] )

In [ ]:
first_dataframe

        tel  eng  maths  science
Sravya    6    3      7        7
Divya     8    6      8        5
Kavya     4    9      6        6
Saniya    9    4      7        4

We can write data in the format of :
1. conventional list of lists : list_of_lists = [['Amar', 10], ['Akbar', 15], ['Anthony', 14]]

2. dictionary :
employee_dict = {'Employee Name':['Rajeev', 'Sumit', 'Aviral'], 'Income':[200000, 140000, 90000]}

3. list of dictionaries :
list_of_dicts = [{'a': 1, 'b': 2, 'c':3}, {'a':10, 'b': 20, 'c': 30}]

4. zip() function :
actor_names = ['Ryan Reynolds', 'Benedict Cumberbatch', 'Robert Downey Jr.', 'Chris Evans']
actor_ages = [48,62,54,np.nan ]
list_of_tuples = list(zip(actor_names, actor_ages))
actor_df = pd.DataFrame(list_of_tuples, columns = ['Name', 'Age'])

In [ ]:
from google.colab import drive

In [ ]:
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
imdb_filepath = "/content/drive/MyDrive/Data Sets/imdb_data.csv"

In [ ]:
#read imdb_filepath into pandas dataframe
df = pd.read_csv(imdb_filepath)

In [ ]:
df

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,2/20/15,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,8/6/04,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,...,10/10/14,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000
3,4,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,...,3/9/12,122.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000
4,5,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,ko,ÎßàÎ¶∞Î≥¥Ïù¥,Marine Boy is the story of a former national s...,1.148070,...,2/5/09,118.0,"[{'iso_639_1': 'ko', 'name': 'ÌïúÍµ≠Ïñ¥/Ï°∞ÏÑ†Îßê'}]",Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,2996,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,tt0109403,en,Chasers,Military men Rock Reilly and Eddie Devane are ...,9.853270,...,4/22/94,102.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It was supposed to be a routine prisoner trans...,Chasers,"[{'id': 378, 'name': 'prison'}, {'id': 572, 'n...","[{'cast_id': 2, 'character': 'Rock Reilly', 'c...","[{'credit_id': '52fe4494c3a368484e02ac7d', 'de...",1596687
2996,2997,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",NaN,tt2364975,sv,Vi √§r b√§st!,Three girls in 1980s Stockholm decide to form ...,3.727996,...,3/28/13,102.0,"[{'iso_639_1': 'sv', 'name': 'svenska'}]",Released,NaN,We Are the Best!,"[{'id': 1192, 'name': 'sweden'}, {'id': 4470, ...","[{'cast_id': 5, 'character': 'Bobo', 'credit_i...","[{'credit_id': '5716b72ac3a3686678012c84', 'de...",180590
2997,2998,NaN,65000000,"[{'id': 80, 'name': 'Crime'}, {'id': 28, 'name...",NaN,tt0116908,en,The Long Kiss Goodnight,"Samantha Caine, suburban homemaker, is the ide...",14.482345,...,10/11/96,120.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,What's forgotten is not always gone.,The Long Kiss Goodnight,"[{'id': 441, 'name': 'assassination'}, {'id': ...","[{'cast_id': 10, 'character': 'Samantha Caine ...","[{'credit_id': '52fe443a9251416c7502d579', 'de...",89456761
2998,2999,NaN,42000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",http://www.alongcamepolly.com/,tt0343135,en,Along Came Polly,Reuben Feffer is a guy who's spent his entire ...,15.725542,...,1/16/04,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"For the most cautious man on Earth, life is ab...",Along Came Polly,"[{'id': 966, 'name': 'beach'}, {'id': 2676, 'n...","[{'cast_id': 8, 'character': 'Reuben Feffer', ...","[{'credit_id': '556f817b9251410866000a63', 'de...",171963386
2999,3000,NaN,35000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",http://www.abductionthefilm.com/,tt1600195,en,Abduction,A young man sets out to uncover the truth abou...,10.512109,...,9/22/11,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,They stole his life. He's taking it back.,Abduction,"[{'id': 591, 'name': 'cia'}, {'id': 822, 'name...","[{'cast_id': 2, 'character': 'Nathan Harper', ...","[{'credit_id': '5391990d0e0a260fb5001629', 'de...",82087155

In [ ]:
#head() fn helps in print first five rows by default
df.head()

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,2/20/15,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,8/6/04,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,...,10/10/14,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000
3,4,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,...,3/9/12,122.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000
4,5,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,ko,ÎßàÎ¶∞Î≥¥Ïù¥,Marine Boy is the story of a former national s...,1.148070,...,2/5/09,118.0,"[{'iso_639_1': 'ko', 'name': 'ÌïúÍµ≠Ïñ¥/Ï°∞ÏÑ†Îßê'}]",Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970

**Task 1:**

***Activity 1*** :
üîç Scenario: You work for a company that sells fruits and vegetables. Your boss wants to know the average price and total sales of all the fruits they sold last month. Your task is to analyze the data and provide the required information.

ü§î Problem:

What is the average price and total sales of all the fruits sold last month?

In [ ]:
import numpy as np
fruits = np.array(["Apple", "Banana", "Cherry", "Dragonfruit", "Elderberry"])
quantity_sold = np.array([100, 200, 50, 75, 150])
price_per_unit = np.array([0.5, 0.25, 1, 1.5, 2])

In [ ]:
#creating the table
list1 = list(zip(fruits , quantity_sold , price_per_unit))
df = pd.DataFrame(list1 , columns=['fruits','quantity_sold','price_per_unit'])
print(df)

        fruits  quantity_sold  price_per_unit
0        Apple            100            0.50
1       Banana            200            0.25
2       Cherry             50            1.00
3  Dragonfruit             75            1.50
4   Elderberry            150            2.00

In [ ]:
#avg price for all the fruits
average_price = np.mean(price_per_unit)
print(average_price)

1.05

In [ ]:
#avg revenue of all the fruit
total_sale_per_unit = quantity_sold  *  price_per_unit
a_p = np.mean(total_sale_per_unit)
print(a_p)

112.5

In [ ]:
# total sales of all the fruits
sum1 = np.sum(total_sale_per_unit)
sum1

562.5

**Activity 2 :**

üîç Scenario: You work for a company that sells various products. Your boss wants to know some statistical information about the sales of the products. Your task is to analyze the data and provide the required information:

1. Mean sales.
2. Median sales.
3. Mode of Sales.
4. Standard Deviation.
5. Variance.

ü§î Problem:

What is the mean, median, mode, standard deviation, and variance of the sales data?

In [ ]:
# üìä Dataset:
sales = np.array([100, 200, 150, 75, 250, 300, 175, 225, 125, 275])

In [ ]:
#finding mean(). The average of a set of numbers.
mean1 = np.mean(sales)
mean1

187.5

In [ ]:
#finding median(). The middle number in a sorted set of numbers
median1 = np.median(sales)
median1

187.5

In [ ]:
#finding standard deviation(). The square root of the variance, also a measure of spread.
sd = np.std(sales)
sd

71.80703308172536

In [ ]:
#finding variance(). A measure of how spread out a set of numbers is.
var1 = np.var(sales)
var1

5156.25

In [ ]:
#finding mode(). The most frequent number in a set of numbers.
import numpy as np
from scipy import stats
mode_result = stats.mode(sales)
mode_result

ModeResult(mode=75, count=1)

In [ ]:
#finding mode value()
mode = mode_result.mode
mode

75

In [ ]:
#finding count value()
count = mode_result.count
count

1

**Activity 3**

**üîçScenario**:

You are working for a company that produces computer chips. The production team has provided you with a list of specifications for a new chip design. Your task is to create a 2D array representing the design, where each row represents a layer of the chip and each column represents a feature of the layer.

**ü§î Problem:**

Create a 2D array representing the chip design, where each row represents a layer of the chip and each column represents a feature of the layer. The values in the array should range from 0 to 255 and be evenly spaced.

In [ ]:
# üìä Dataset
num_layers = 4 # rows
num_features = 6 # columns
min_value = 0
max_value = 255

In [ ]:
num = num_layers * num_features
import numpy as np
df = np.linspace(min_value,max_value,num)
print(df)

[  0.          11.08695652  22.17391304  33.26086957  44.34782609
  55.43478261  66.52173913  77.60869565  88.69565217  99.7826087
 110.86956522 121.95652174 133.04347826 144.13043478 155.2173913
 166.30434783 177.39130435 188.47826087 199.56521739 210.65217391
 221.73913043 232.82608696 243.91304348 255.        ]

In [ ]:
reshaped_arr = np.reshape(df,(num_layers, num_features))
reshaped_arr

array([[  0.        ,  11.08695652,  22.17391304,  33.26086957,
         44.34782609,  55.43478261],
       [ 66.52173913,  77.60869565,  88.69565217,  99.7826087 ,
        110.86956522, 121.95652174],
       [133.04347826, 144.13043478, 155.2173913 , 166.30434783,
        177.39130435, 188.47826087],
       [199.56521739, 210.65217391, 221.73913043, 232.82608696,
        243.91304348, 255.        ]])

**Activity 4**

üåü **Scenario**: You work for a clothing company, and your boss has asked you to create a dummy sales data report using Python and Pandas. You need to create a dataframe that shows the sales of different products for the past month.

üîë **Objective**: Use Pandas to create a dummy dataframe that represents the sales data report, and find out the average sales of clothes.

üìù **Steps**:

1. Import the pandas library
2. Create a dictionary that contains the data for the dataframe
3. Convert the dictionary into a Pandas dataframe
4. Print the dataframe to verify that it was created correctly
5. Calculate the average sales

In [ ]:
data = {'Product': ['Shirts', 'Pants', 'Jackets', 'Shoes'],
        'Sales': [100, 75, 50, 25]}

In [ ]:
# Write your code here
import pandas as pd
df = pd.DataFrame(data)
print(df)

   Product  Sales
0   Shirts    100
1    Pants     75
2  Jackets     50
3    Shoes     25

In [ ]:
avg = df['Sales'].mean() #using data frames
avg

62.5

In [ ]:
avg1 = np.mean(df['Sales'])  #using numpy
avg1

62.5

**Activity 5: Creating a DataFrame:**

You are given a dictionary containing information about books in a library. Each book has a title, author, year of publication, and number of pages.

In [ ]:
# Import pandas
import pandas as pd

# Create dictionary containing information about the books
books_dict = {
    'Title': ['Book A', 'Book B', 'Book C', 'Book D', 'Book E'],
    'Author': ['Author X', 'Author Y', 'Author X', 'Author Z', 'Author Y'],
    'Year of Publication': [2005, 2010, 2002, 2015, 2018],
    'Number of Pages': [300, 250, 180, 400, 320]
}

 Write a Python program using Pandas to create a DataFrame from the dictionary, and perform the following tasks:

1. Print the entire DataFrame.

In [ ]:
df = pd.DataFrame(books_dict)
print(df)

    Title    Author  Year of Publication  Number of Pages
0  Book A  Author X                 2005              300
1  Book B  Author Y                 2010              250
2  Book C  Author X                 2002              180
3  Book D  Author Z                 2015              400
4  Book E  Author Y                 2018              320

2. Print the first five rows of the DataFrame.

In [ ]:
print(df.head())

    Title    Author  Year of Publication  Number of Pages
0  Book A  Author X                 2005              300
1  Book B  Author Y                 2010              250
2  Book C  Author X                 2002              180
3  Book D  Author Z                 2015              400
4  Book E  Author Y                 2018              320

3. Print the last three rows of the DataFrame.

In [ ]:
print(df.tail(3))

    Title    Author  Year of Publication  Number of Pages
2  Book C  Author X                 2002              180
3  Book D  Author Z                 2015              400
4  Book E  Author Y                 2018              320

4. Sort the DataFrame by year of publication in ascending order.

In [ ]:
df_sorted = df.sort_values(by='Year of Publication')
print(df_sorted)

    Title    Author  Year of Publication  Number of Pages
2  Book C  Author X                 2002              180
0  Book A  Author X                 2005              300
1  Book B  Author Y                 2010              250
3  Book D  Author Z                 2015              400
4  Book E  Author Y                 2018              320

5. Sort the DataFrame by number of pages in descending order.

In [ ]:
df_sorted1 = df.sort_values(by='Number of Pages',ascending=False)
print(df_sorted1)

    Title    Author  Year of Publication  Number of Pages
3  Book D  Author Z                 2015              400
4  Book E  Author Y                 2018              320
0  Book A  Author X                 2005              300
1  Book B  Author Y                 2010              250
2  Book C  Author X                 2002              180

6. Filter the DataFrame to show only books published after the year 2000.

In [ ]:
df_gt_2000 = df[df['Year of Publication'] > 2000]
print(df_gt_2000['Title'])

0    Book A
1    Book B
2    Book C
3    Book D
4    Book E
Name: Title, dtype: object

7. Calculate the average number of pages for all books in the DataFrame.

In [ ]:
mean1 = df['Number of Pages'].mean()
print(mean1)

290.0

8. Group the DataFrame by author, and calculate the total number of pages for each author.

In [ ]:
df_grp = df.groupby('Author')
df_grp['Number of Pages'].sum()

Author
Author X    480
Author Y    570
Author Z    400
Name: Number of Pages, dtype: int64